<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Property</title>
</head>
<body>

    <h1><%=property.title %></h1>
    <ul>
        <li> Name: <%=property.title %> </li>
        <li> Price: <%=property.price %> </li>
        <li> Description: <%=property.description %> </li>
        <li> Location: <%=property.location %> </li>
        <li> Number of Fractions: <%=property.fractions %> </li>
        <li> Available Units: <%=property.available %> </li>
        <li> Rate: <%=property.price/property.fractions %> </li>
        <li> Phase: <%=property.phase %> </li>
    </ul>
    <div>
    <button>Buy</button>
    <button>Sell</button>
    </div>
    <br>
    <a href="/property/list">View all properties</a>
</body>
</html>