<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h1>Hello! <%= user.name %></h1>
    <h3><a href="/property/list?phase=2">View Listed Properties</a>
        <a href="/property/list?phase=1">View Ongoing Biddings</a></h3>
    <h3>Your Holdings</h3>
    <ul>
        <% for(let property of propertyAmountMap){ %>
            <li> Name <%=property.property.title %> </li>
            <li> Price <%=property.property.price %> </li>
            <li> Description<%=property.property.description %> </li>
            <li> Location<%=property.property.location %> </li>
            <li> Number of Fractions<%=property.property.fractions %> </li>
            <li> Available Units <%=property.property.available %> </li>
            <li> Rate <%=property.property.rate %> </li>
            <li> Your Holding <%=property.amount%> </li>
        <% } %>
    </ul>
</body>
</html>