<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchant Dashboard</title>
</head>
<body>
    <h1>Hello! <%= user.name %></h1>
</br>
    <h3><button><a href="/property/new?user=<%= user %>">Add New Property</a></button>
    <button><a href="/">Go to Home Page</a></h3></button>
    </h3>
</br>
    <h3>Your Listed Properties</h3>
    <ul>
        <% for(let property of properties){ %>
        <h4>Property</h4>
        <ul>
            <li> Name: <%=property.title %> </li>
            <li> Price: <%=property.price %> </li>
            <li> Description: <%=property.description %> </li>
            <li> Location: <%=property.location %> </li>
            <li> Number of Fractions: <%=property.fractions %> </li>
            <li> Available Units: <%=property.available %> </li>
            <li> Rate: <%=property.price/property.fractions %> </li>
            <li> Phase: <%=property.phase %> </li>
        </ul>
    </br>
        <% } %>
    </ul>
</body>
</html>